@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


body {
    background-color: #7da2d3;
    font-family: sans-serif, Lato, Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4598b9;
}

nav a:hover {
    background-color: #4598b9 ;
    color: white;
}
.book, .join {
    background-color: #4598b9 ;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #7da2d3;
    color: white;
}

.home-title {
    color: black;
    font-family: "IM Fell French Canon", sans-serif, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

.msg {
    background-color: #4598b9;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 100px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #4598b9;
}

.rivers-card, .camping-card, .rapids-card, .mountains {
    margin: 200px 0;
}

.card-img  {
    border: 10px solid black;
}

.msg h2 {
    color: black;
    font-family: "IM Fell French Canon", sans-serif, Helvetica;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #4598b9;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}