body {
    background-color: gray;
    margin: 0 auto;
}
.header {
    width: 100%;
    margin: 0 auto;
    border: none;
    
}

.footer {
   
    margin: 0 auto;
}

div {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

div img {
    width: 300px;
    border: 20px solid rgb(49, 49, 49);
    border-radius: 100%;
    
    
}